@font-face {
    font-family: 'Mont';
    src: url('../_data/fonts/Mont-SemiBold.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Mont';
    src: url('../_data/fonts/Mont-Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'Din';
    src: url('../_data/fonts/D-DIN.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Din';
    src: url('../_data/fonts/D-DIN-Italic.otf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Din';
    src: url('../_data/fonts/D-DIN-Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: 'Digital';
    src: url('../_data/fonts/7segment.ttf');
    font-weight: 500;
}

:root {
    --accent: #ffd654;
    --accent-light: #f8d565;
    --accent-bg: #ffecb0;
    --accent-shadow: #f8c524;
    --accent-dark: #c2a74e;
    --accent-text: #68561e;
    --accent-mod-nm: #529cdc;
    --accent-mod-hd: #f3c164;
    --accent-mod-hr: #c85a46;
    --accent-mod-dt: #c288d8;
    --accent-mod-fm: #7a9f29;
    --accent-mod-tb: #a1bd74;
    --accent-mod-xx: #ffecb0;
    --blue: #81b2eb;
    --red: #f58178;
    --blue-darker: #5481b4;
    --red-darker: #be5a53;
    --blue-dark: #3c638f;
    --red-dark: #8b3a34;
    --red-bright: #ff0000;
}

#stopwatch-pie {
    fill: #00000000;
    stroke: var(--accent);
    stroke-width: 128;
    stroke-dasharray: 100;
    transform: rotate(-90deg);
    transition: stroke-dashoffset 1s linear;

}

.stopwatch-animate-skip {
    transition: none!important;
}

.matchTimer {
    transition: opacity 200ms linear;
    opacity: 0;
}

#stopwatch {
    margin: 0 auto;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: 40px;
    bottom: 7px;
}

#banchoTimer {
    color: var(--accent);
    position: absolute;
    bottom: 8px;
    right: 8px;
    font-weight: normal;
}
