body,
html {
	padding: 0;
	margin: 0;
	overflow-y: hidden;
	font-family: 'Din', 'D-DIN';
}

#main {
	position: relative;
}

#full-overlay {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	border-radius: 10px;
	background-color: rgba(255, 87, 87, 0);
	transition: background-color 100ms cubic-bezier(0, 1, 0.4, 1);
}

.name {
	position: absolute;
	bottom: 4px;
	right: 16px;
	font-size: 40px;
	font-weight: 700;
	transform-origin: bottom right;
	transition: transform 100ms cubic-bezier(0, 1, 0.4, 1);
	transition-property: background-color, font-size, transform, color, background-color;
	text-shadow: 2px 2px 0 rgb(119, 119, 119);
	filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.2));
}

